body{
  background-color: rgb(65, 41, 70);
  color: rgb(229, 227, 236);
}

#btn{
  /* border: 1px solid red; */
}

#div-filmes{
  border: 1px solid red;
}

.filme{
  border: 8px solid rgb(71, 59, 87);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(42, 38, 59);
  padding: 15px;
}